
.bn-primary {
    background-color: #7261a3;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-size:  1.5rem;
  }
  
  .bn-primary:hover {
    background-image: url('/assets/guest/img/gallery/eye.png');
    background-position: center;
    background-size: 600px;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    color: black;
    font-size:  1.5rem;
    font-weight: bold;
  }

  .optioncolor{
    background-color: #f5f4f8;
    
  }
  @media screen and (max-width: 768px) {
    .custom-height {
      height: 800px;
    }
    .container{
      width: 100%;
      position:relative; 
      right: 0px;
    }
    
  }