<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>pelicX &amp; Courier Service</title>
<meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
<meta name="theme-color" content="#ffffff">
<link rel="icon" type="image/x-icon" href="favicon.ico">
  
<link rel="apple-touch-icon" sizes="180x180" href="../assets/guest/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/guest/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../assets/guest/img/favicons/favicon-16x16.png">
<link rel="shortcut icon" type="image/x-icon" href="../assets/guest/img/favicons/favicon.ico">
<link rel="manifest" href="../assets/guest/img/favicons/manifest.json">
 <!-- <link href="../assets/guest/css/theme.css" rel="stylesheet"/>  -->
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</head>


<body>

 <!-- <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent"> -->
        <!-- <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
          <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="index.html">Home</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#services">Our Services</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#findUs">Find Us</a></li>
        </ul> -->
        <!-- <div class="dropdown d-none d-lg-block"> -->
          <!-- <button class="btn bg-soft-warning ms-2" id="dropdownMenuButton1" type="submit" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search text-warning"></i></button>
          <div class="dropdown-menu dropdown-menu-lg-end p-0 rounded" aria-labelledby="dropdownMenuButton1" style="top:55px">
            <form>
              <input class="form-control border-200" type="search" placeholder="Search" aria-label="Search" style="background:#FDF1DF;" />
            </form> -->
          <!-- </div> -->
        <!-- </div> -->
        
  <router-outlet></router-outlet>