<div
  class="container-fluid mt-5"
  style="width: 84%; position: absolute; right: 0; overflow-y: 0"
>
  <div class="row">
    <div class="col-xxl-12">
      <div class="card shadow mb-4">
        <div class="card-body">
          <form class="row g-3 needs-validation" [formGroup]="editcompanyform">
            <!-- Company Name -->
            <div class="col-md-6">
              <div class="was-validated">
                <label for="validationCustom01" class="form-label">Company Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="col_name"
                  id="validationCustom01"
                  required
                />
                <div class="valid-feedback">Great!</div>
              </div>
            </div>

            <!-- Logo -->
            <div class="col-md-6">
              <label for="formFile" class="form-label">Logo</label>
              <input
                type="file"
                formControlName="col_pict"
                (change)="selectFile($event)"
                class="form-control"
                id="exampleInputUsername2"
                placeholder="image"
              />
            </div>

            <!-- Description -->
            <div class="col-md-6">
              <label class="form-label">Description</label>
              <textarea
                class="form-control"
                formControlName="col_descr"
                placeholder="Enter Company Description"
                rows="5"
              ></textarea>
            </div>

            <!-- Phone Number -->
            <div class="col-md-4">
              <div class="was-validated">
                <label for="validationCustom02" class="form-label">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="col_phone"
                  id="validationCustom02"
                  required
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>

            <!-- Registration Date -->
            <div class="col-md-4">
              <div class="was-validated">
                <label for="validationCustom05" class="form-label">Liscenced Date</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="col_licdate"
                  id="validationCustom05"
                  required
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>

          
            <!-- State -->
            <div class="col-md-3">
              <div class="was-validated">
                <label for="exampleSelectGender"><strong>State</strong></label>
                <select
                  class="form-control mb-3"
                  formControlName="state_id"
                  required
                  (change)="onStateChange()"
                >
                  <option disabled selected value="">...Choose state...</option>
                  <option
                    *ngFor="let data of statearray" value="{{data.state_id}}"
                  >
                    {{ data.state_name }}
                  </option>
                </select>
                <div class="invalid-feedback"></div>
              </div>
            </div>

            <!-- District -->
            <div class="col-md-3">
              <div class="was-validated">
                <label for="validationCustom04" class="form-label">District</label>
                <select
                  class="form-control mb-3"
                  formControlName="district_id"
                  (change)="viewlocation()"
                  required
                >
                  <option disabled selected value="">
                    ...Choose District...
                  </option>
                  <!-- <option
                    *ngFor="let hey of distarray"
                    value="{{hey.district_id}}"
                  >
                    {{ hey.district_name }}
                  </option> -->
                </select>
                <div class="invalid-feedback"></div>
              </div>
            </div>

            <!-- Location -->
            <div class="col-md-3">
              <div class="was-validated">
                <label for="validationCustom04" class="form-label">Location</label>
                <select
                  class="form-control mb-3"
                  formControlName="loc_id"
                  required
                >
                <option disabled [selected]="true">
                choose
                </option>
                <!-- <option
                  *ngFor="let data of locarray"
                  [value]="data.loc_id"
                >
                  {{ data.loc_name }}
                </option> -->
                </select>
                <div class="invalid-feedback"></div>
              </div>
            </div>

            <!-- Zip -->
            <div class="col-md-3">
              <div class="was-validated">
                <label for="validationCustom05" class="form-label">Zip</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="col_zip"
                  id="validationCustom05"
                  required
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>

            <!-- Address -->
            <div class="col-md-6">
              <div class="was-validated">
                <label class="form-label">Address</label>
                <textarea
                  class="form-control"
                  formControlName="col_address"
                  rows="5"
                  required
                ></textarea>
                <div class="invalid-feedback"></div>
              </div>
            </div>

            <!-- Terms and Conditions -->
            <div class="col-12">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="invalidCheck"
                  required
                />
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<script src="/assets/admin/js/jquery.min.js"></script>
<script src="/assets/admin/js/bootstrap.bundle.min.js"></script>
<script src="/assets/admin/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
<script src="/assets/admin/vendor/overlay-scroll/custom-scrollbar.js"></script>
<script src="/assets/admin/js/custom.js"></script>
<script src="/assets/admin/js/validations.js"></script>
